target-version = "py313"

[lint]
# https://docs.astral.sh/ruff/rules/
extend-select = [
    "I",        # isort
    "N8",       # pep8-naming
    "PT",       # flake8-pytest-style
    "RUF",      # ruff-specific rules
    "SIM",      # flake8-simplify
    "UP",       # pyupgrade
]

[lint.isort]
force-single-line = true
order-by-type = false
